<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">



       <bean id="dataSource"
             class="com.mchange.v2.c3p0.ComboPooledDataSource"
             destroy-method="close">
              <!-- 指定连接数据库驱动 -->
              <property name="driverClass" value="com.mysql.jdbc.Driver" />
              <!-- 指定连接数据库url -->
              <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/votesys" />
              <!-- 指定连接数据库用户名-->
              <property name="user" value="root" />
              <!-- 指定连接数据库密码-->
              <property name="password" value="123456" />
       </bean>
       <!-- 定义Hibernate的sessionFactory -->
       <bean id="sessionFactory"
             class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <!-- 指定数据源 -->
              <property name="dataSource" ref="dataSource" />
              <!-- 指定Hibernate映射文件 -->
              <property name="mappingResources">
                     <list>
                            <value>Admin.hbm.xml</value>
                            <value>Vote.hbm.xml</value>
                            <value>Voter.hbm.xml</value>
                            <value>Votecontext.hbm.xml</value>
                     </list>
              </property>
              <property name="hibernateProperties">
                     <props>
                            <!-- 指定使用方言 -->
                            <prop key="hibernate.dialect">
                                   org.hibernate.dialect.MySQLDialect
                            </prop>
                            <!-- 是否在控制台输出sql语句 -->
                            <prop key="show_sql">true</prop>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                            <prop key="hibernate.jdbc.batch_size">20</prop>
                     </props>
              </property>
       </bean>
       <!-- 定义事务管理 -->
       <bean id="transactionManager"
             class="org.springframework.orm.hibernate4.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory" />
       </bean>
       <!-- 定义事务管理拦截器 -->
       <bean id="transactionInterceptor"
             class="org.springframework.transaction.interceptor.TransactionInterceptor">
              <property name="transactionManager" ref="transactionManager" />
              <property name="transactionAttributes">
                     <props>
                            <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                            <prop key="*">PROPAGATION_REQUIRED</prop>
                     </props>
              </property>
       </bean>
       <!-- 定义代理自动管理事务 -->
       <bean id="ProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
              <!-- 指定需要Spring管理事务的Bean -->
              <property name="beanNames">
                     <list>
                            <value>adminService</value>
                            <value>voteService</value>
                            <value>voteContextService</value>
                            <value>voterService</value>
                     </list>
              </property>
              <!-- 调用事务管理拦截器 -->
              <property name="interceptorNames">
                     <list>
                            <value>transactionInterceptor</value>
                     </list>
              </property>
       </bean>
       <!--<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">-->
              <!--<property name="sessionFactory">-->
                     <!--<ref bean="sessionFactory"/>-->
              <!--</property>-->
       <!--</bean>-->
       <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
                <!--<tx:attributes>-->
                    <!--<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception,SmoException,BmoException,DaoException" />-->
                    <!--<tx:method name="del*" propagation="REQUIRED" rollback-for="Exception,SmoException,BmoException,DaoException" />-->
                    <!--<tx:method name="upd*" propagation="REQUIRED" rollback-for="Exception,SmoException,BmoException,DaoException" />-->
                       <!--<tx:method name="*" propagation="SUPPORTS" read-only="true" />-->
               <!--</tx:attributes>-->
       <!--</tx:advice>-->
       <!--<aop:config>-->
              <!--<aop:pointcut id="servicesPointcut" expression="execution(* service.*.*(..))"/>-->
       <!--</aop:config>-->
              <!--<bean id="transactionManager"-->
             <!--class="org.springframework.orm.hibernate3.HibernateTransactionManager">-->
              <!--<property name="sessionFactory">-->
                     <!--<ref bean="sessionFactory" />-->
              <!--</property>-->
       <!--</bean>-->
       <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
              <!--　　<tx:attributes>-->
              <!--　　<tx:method name="*" propagation="REQUIRED" read-only="true"/>-->
              <!--　　<tx:method name="add*" propagation="REQUIRED"/>-->
              <!--　　<tx:method name="del*" propagation="REQUIRED"/>-->
              <!--　　<tx:method name="update*" propagation="REQUIRED"/>-->
              <!--　　<tx:method name="save*" propagation="REQUIRED"/>-->
              <!--　　</tx:attributes>-->
       <!--</tx:advice>-->
       <!--<tx:annotation-driven transaction-manager="transactionManager" />-->
       <!--<aop:config>-->
              <!--　　<aop:pointcut id="allMethods" expression="execution(* service.*.*(..))" />-->
              <!--　　<aop:advisor advice-ref="txAdvice" pointcut-ref="allMethods" />-->
       <!--</aop:config>-->

       <bean id="adminDAO" class="DAO.impl.AdminDAOImpl">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>
       <bean id="voteDAO" class="DAO.impl.VoteDAOImpl">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>
       <bean id="voterDAO" class="DAO.impl.VoterDAOImpl">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>
       <bean id="voteContextDAO" class="DAO.impl.VoteContextDAOImpl">
              <property name="sessionFactory" ref="sessionFactory"/>
       </bean>
       <!--service-->
       <bean id="adminService" class="service.impl.AdminServiceImpl">
              <property name="adminDAO" ref="adminDAO"/>
       </bean>
       <bean id="voteService" class="service.impl.VoteServieceImpl">
              <property name="voteDAO" ref="voteDAO"/>
       </bean>
       <bean id="voterService" class="service.impl.VoterServiceImpl">
              <property name="voterDAO" ref="voterDAO"/>
       </bean>
       <bean id="voteContextService" class="service.impl.VoteContextServiceImpl">
              <property name="voteContextDAO" ref="voteContextDAO"/>
       </bean>
       <!-- Login 类进行配置-->
       <bean id="login" class="action.login.Login">
              <property name="adminService" ref="adminService"/>
              <property name="voteService" ref="voteService"/>
       </bean>
       <bean id="logout" class="action.login.Logout"/>
       <bean id="createAdmin" class="CreatAdmin">
              <property name="adminService" ref="adminService"/>
       </bean>
       <bean id="newVote" class="action.vote.newVote">
              <property name="voteService" ref="voteService"/>
              <property name="adminService" ref="adminService"/>
       </bean>
       <bean id="newVoteContext" class="action.vote.newVoteContext">
              <property name="voteContextService" ref="voteContextService"/>
              <property name="voteService" ref="voteService"/>
       </bean>
       <bean id="findVote" class="action.vote.FindVote">
              <property name="adminService" ref="adminService"/>
              <property name="voteService" ref="voteService"/>
       </bean>

       <bean id="searchVote" class="action.vote.SearchVote">
               <property name="voteService" ref="voteService"/>
              <property name="adminService" ref="adminService"/>
       </bean>
       <bean id="showVoting" class="action.vote.ShowVoting">
              <property name="adminService" ref="adminService"/>
              <property name="voteService" ref="voteService"/>
       </bean>
       <bean id="showVotingContext" class="action.vote.ShowVotingContext">
              <property name="voteService" ref="voteService"/>
              <property name="voteContextService" ref="voteContextService"/>
       </bean>
       <bean id="voting" class="action.vote.Voting">
              <property name="voteContextService" ref="voteContextService"/>
              <property name="voteService" ref="voteService"/>
       </bean>

       <bean id="showVotingResult" class="action.vote.ShowVotingResult">
              <property name="voteService" ref="voteService"/>
              <property name="voteContextService" ref="voteContextService"/>
       </bean>
</beans>